section{
    background-color: #f5f5f5;
    transform: translate(100% , 50%);  
    display: inline-block;
    width: 30%;
    padding: 1% 1.5% 1% 1.5%;
    height: 300px;
    transform-origin: center ;
    .container{
        // width: 90%;
        background-color: #9FCDCD;
        padding: 1%;
        background-image: url(img/moon_flag.png);
        background-size: 200px;
        margin: auto;
        width: 90%;
        background-repeat: no-repeat;
        background-position-y: 16vh ;
        background-position-x: 115% ;
        border-radius: 10px;
        height: 90%; 
    }
        .CardNamber{
        // margin: 1% 0% 1% 0%;
        margin: 2%;
        font-size: 0.8rem;
        color: #466C6F;
        }
        .Expiry{
            display: flex;
            justify-content: space-between;
            width: 57%;
            // margin: 2%;
          
         
            input{
                width: 20%;
                padding-left: 3%;
                margin: 3%;
                
            }
          
            
}
    .container div:nth-of-type(1){
        background-color: #DB6423;
        color: white;
        margin-left: -5%;
        display: inline-block;
        width: 70%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 4%;
        font-size: 0.8rem;

    }

}
input{
    border: none;
    border-bottom: 2px solid black;
    width: 50%;
    height: 3vh;
    outline: none;
    padding-left: 3%;
    margin-left: 2%;
    
    
   
}
input::placeholder{
    color: #466C6F;
}
.CVV{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-top: 2%;
    font-size: 0.8rem;
    color: #69A0B1;
    // padding-left: 0.5%;
    // padding-right: 0.5%;
    // padding-left: 3%;
}
